@{
    ViewData["Title"] = "Login/Reg";
}

<div class="row">
    <div class="col-5 offset-1">
        <div class="text-center">
            <h1 class="display-4">Register</h1>
            <partial name="User"></partial>
        </div>
    </div>
    <div class="col-5">
        <div class="text-center">
            <h1 class="display-4">Login</h1>
            <partial name="LoginUser"></partial>
        </div>
    </div>
</div>  
